/* ----- Mixins ----- */

.is-hashed {
  background-image: repeating-linear-gradient(
    -45deg,
    hsla(var(--pageText-hsl), 0.5) 0,
    hsla(var(--pageText-hsl), 0.5) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 8px 8px;
  background-repeat: repeat;
}

/* ----- Buttons -----*/

.btn {
  /* default style button */
  @apply inline-block relative bg-pageBG px-5 py-2 text-center rounded border-2 font-sans font-extrabold text-xs;

  /* primary style button */
  &.is-primary {
    @apply bg-primaryBg border-primaryBg text-black;
    &:hover {
      @apply bg-primaryBgHover border-primaryBgHover text-black;
    }
  }

  /* primary: inverted */
  &.is-inverted {
    @apply bg-transparent border-2 border-primaryInvertedBorder border-solid text-primaryInvertedText;
    &.is-active,
    &:hover {
      @apply bg-primaryBgHover;
    }
  }

  /* text-based button */
  &.is-ghost {
    @apply px-0 bg-transparent border-transparent underline;

    &.is-disabled,
    &:not(.is-disabled):hover {
      @apply opacity-60;
    }
  }

  /* large sized button */
  &.is-large {
    @apply text-xl font-semibold px-8 py-5;

    &.is-inverted {
      @apply py-4.5;
    }
  }

  /* Medium sized button */
  &.is-medium {
    @apply text-xl font-semibold px-6 py-3;

    &.is-inverted {
      @apply py-4.5;
    }
  }

  /* small sized button */
  &.is-small {
    @apply text-base font-semibold px-4;

    &.is-inverted {
      @apply py-3.5;
    }
  }
}

/* ----- Marquees ----- */

.marquee {
  @apply border-b;

  &--item {
    @apply flex;
  }

  &--text {
    @apply block p-8 text-5xl leading-none;
  }

  &--photo {
    @apply relative w-32 sm:w-48 px-8 py-4 sm:px-12 sm:py-8;

    img {
      filter: invert(1);
    }
  }
}
